<div class="flex flex-col items-center mx-auto">

  <!-- <img src="../assets/Vector 1.svg" alt="" class="absolute -z-20 w-fit" /> -->
  <!-- <img src="../assets/Mask group.png" alt="" class="absolute -z-10 w-fit" /> -->
  <div class=" flex flex-row justify-center w-full">
    <div class="landing w-full absolute h-full -z-10"></div>
    <div class="flex flex-col px-32 w-[50%] my-auto">
      <img src="../assets/logo (3) 1.svg" alt="" width="190px" />
      <h2 class="text-4xl font-bold pt-5 text-white">
        Enroll Now in our FREE 7-Day Trial receive a FREE 5-Night Vacation Getaway
        to CANCUN MEXICO!
      </h2>
      <h1 class="text-lg font-thin pt-5 text-white">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolore,
        alias, numquam enim
      </h1>
      <button (click)="test()" class="p-3 border-2 border-white rounded-full w-60 text-white mt-5 font-bold">
        <a>Sign Up for 7 Day Trial</a>
      </button>
    </div>

    <div class="">
      <img src="../assets/girl 1.png" alt="" width="" class="" />
    </div>
  </div>

  <div class="flex flex-row mt-48 justify-center w-full">
    <div class="absolute w-full -z-10 h-[315px] bg-[#6610FF] left-0 mt-24"></div>
    <div class="flex flex-row">
      <img src="../assets/SDFAF-1 1.png" alt="" class="" width="400px" />

      <div class="ml-32 grid grid-cols-2">
        <div class="">
          <div class="flex flex-col bg-white shadow-xl w-72 rounded-lg px-5 py-10">
            <img src="../assets/247.png" alt="" width="50px" />
            <h1 class="my-3 font-bold text-[#E83E8C] text-xl">24/7 Services</h1>
            <h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam inventore laudantium quasi dolore earum
              animi eos quam beatae eaque ea?
            </h3>
          </div>
        </div>
        <div class="absolute ml-[21rem] mt-10">
          <div class="flex flex-col bg-white shadow-xl w-72 rounded-lg px-5 py-10">
            <img src="../assets/cbp.svg" alt="" width="50px" />
            <h1 class="my-3 font-bold text-[#E83E8C] text-xl">Choose Best Practice</h1>
            <h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam inventore laudantium quasi dolore earum
              animi eos quam beatae eaque ea?
            </h3>
          </div>
        </div>
        <div class="absolute mt-[21.5rem]">
          <div class="flex flex-col bg-white shadow-xl w-72 rounded-lg px-5 py-10">
            <img src="../assets/247.png" alt="" width="50px" />
            <h1 class="my-3 font-bold text-[#E83E8C] text-xl">24/7 Services</h1>
            <h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam inventore laudantium quasi dolore earum
              animi eos quam beatae eaque ea?
            </h3>
          </div>
        </div>
        <div class="absolute ml-[21rem] mt-[23.5rem]">
          <div class="flex flex-col bg-white shadow-xl w-72 rounded-lg px-5 py-10">
            <img src="../assets/cbp.svg" alt="" width="50px">
            <h1 class="my-3 font-bold text-[#E83E8C] text-xl">Choose Best Practice</h1>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam inventore laudantium quasi dolore earum
              animi eos quam beatae eaque ea?</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- About Us -->
  <div class="flex flex-row mt-96 justify-center">
    <div class="w-[30%]">
      <h1 class="text-[#E83E8C] my-5 text-2xl font-medium">ABOUT US</h1>
      <h2 class="text-4xl font-bold my-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
      <p class="text-xl pr-10 leading-loose">Autem dolore, alias, numquam enim ab voluptate id quam harum ducimus
        cupiditate similique quisquam et deserunt, recusandae.Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptuaLorem ipsum
        dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
        aliquyam erat, sed diam voluptuaLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      </p>

      <button (click)="test()" class="p-3 border-2 border-[#5214FF] rounded-full w-60 text-[#5214FF] mt-5 font-bold">
        <a>Sign Up for 7 Day Trial</a>
      </button>
    </div>
    <div class="">
      <img src="../assets/FDEFNRFNM-EWFV3 1.svg" alt="" class="w-[75%]">
    </div>
  </div>

  <div class="flex flex-col justify-center items-center my-52">
    <!-- heading text -->
    <div class="flex flex-col text-center">
      <h1 class="text-[#E83E8C] text-lg font-medium">HERE'S HOW</h1>
      <h2 class="text-black text-4xl font-bold">
        The 
        <span class="text-[#E83E8C]" style="font-family: Pusia-Bold;">FREE</span> 
        trial works
      </h2>
    </div>

    <!-- Cards -->
      <!-- Left -->
    <div class="flex flex-row gap-5 mt-14">
      <div class="card">
        <ul>
          <li class="mb-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
          <li class="mb-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
          <li class="mb-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
          <li class="mt-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        </ul>
      </div>
  
        <!-- Middle -->
        <div class="card">
          <ul>
            <li class="mb-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li class="mb-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li class="mb-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li class="mt-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
          </ul>
        </div>
  
        <!-- Right -->
      <div class="card">
        <ul>
          <li class="mb-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
          <li class="mb-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
          <li class="mb-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
          <li class="mt-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        </ul>
      </div>
    </div>

    <button (click)="test()" class="p-3 border-2 border-[#5214FF] rounded-full my-14 w-60 text-[#5214FF] font-bold">
      <a>Sign Up for 7 Day Trial</a>
    </button>
  </div>
</div>